[2019-08-27 21:42] andersy005 opened #1 "Create intake static catalogs"

[2019-08-31 18:42] andersy005 opened #2 "PermissionError: Access Denied when reading data from the ncar-cesm-lens s3 bucket"
- For reasons unbeknownst to me, I am unable to open zarr stores from the ncar-cesm-lens bucket. Per discussion with @jeffdlb, this bucket is now public ~~and can be accessed **anonymously**~~. It appears that you still need to provide credentials to be able to access objects in this bucket:

[code]

- However, when I use my credentials, everything seems to be working just fine:

[code]

Cc @jhamm

[2019-08-31 20:44] jhamman commented on #2
My leading hypothesis is that not all fo the objects had their permissions set to fully open. There has also been some recent churn in s3fs but this seems more like a object read permission error.

[2019-09-01 14:24] jeffdlb commented on #2
OK, so it turns out that to grant public access I needed to not only
declare the bucket public but also to make every object in the bucket
publicly readable. I have launched that process and it will need to churn
through everything. If you happen to be online now and want to test, try
atm/monthly/FLNS because I did that one separately first.

-Jeff DLB

On Sat, Aug 31, 2019 at 4:44 PM Joe Hamman <

[2019-09-01 15:52] jeffdlb commented on #2
In retrospect, the make-objects-public step should have been obvious.

Status update: 90 minutes later, only 14% through the process. I should
have done this in smaller chunks because I'm not sure what will happen if
my laptop goes to sleep...

-Jeff

On Sun, Sep 1, 2019 at 10:24 AM Jeff de La Beaujardière <
notifications@github.com> wrote:

[2019-09-03 03:29] #1 closed

[2019-09-03 03:31] andersy005 commented on #2
Thank you for taking care of this, @jeffdlb! I ran a few smoke tests, and this seems to be working

[2019-09-03 03:39] andersy005 opened #4 "Notebook(s) reconstructing 2 figures from Kay et al. (2015) paper (Figs 2 & 4)"
Paper: https://journals.ametsoc.org/doi/full/10.1175/BAMS-D-13-00255.1
 - Fig. 2. Global surface temperature anomaly (1961–90 base period) for the 1850 control, individual ensemble members, and observations (HadCRUT4; Morice et al. 2012).
NB: w/o pre-1920 for now
 - Fig. 4. Global maps of historical (1979–2012) boreal winter (DJF) surface air temperature trends for each of the 30 individual CESM-L

[2019-09-03 10:49] jeffdlb commented on #2
Anderson-

atm/daily and atm/hourly6-1990-2005 are still not fully public. Will
be finished this morning.

-Jeff

On Mon, Sep 2, 2019 at 11:31 PM Anderson Banihirwe
<notifications@github.com> wrote:

[2019-09-03 15:42] jhamman commented on #4
I've gotten a start on this. My goal is to setup a basic notebook creating the two figures listed above. Then hand it off to others for fine tuning. I hope this will be a useful demonstration of tools and a sufficient primer to get others rolling.

[2019-09-03 16:11] jeffdlb commented on #4
Thanks, Joe!

On Tue, Sep 3, 2019, 11:42 Joe Hamman <notifications@github.com wrote:

[2019-09-03 17:40] jeffdlb commented on #2
I believe all of the data objects are now public. Please let me know
if you experience any difficulty.

-Jeff

On Tue, Sep 3, 2019 at 6:50 AM Jeff de La Beaujardiere <jeffdlb@ucar.edu> wrote:

[2019-09-04 18:38] andersy005 commented on #4
@sethmcg, I just moved your comment here since this issue is still open

Do we have a good sense of who the target audience is for this notebook?  I think it may need more commentary about what various bits of code do, but I don't know what we want to assume about what the reader already knows.

_Originally posted by @sethmcg in https://github.com/NCAR/cesm-lens-aws/pull/5#issuecomment-528010473_

[2019-09-04 20:38] #2 closed

[2019-09-04 20:54] andersy005 commented on #4
I could use some feedback on this PR #6. I added functionality to compute:

- weighted spatial means for model data
- weighted temporal mean for obs data

Rendered notebook: https://nbviewer.jupyter.org/gist/andersy005/00c2798f9200c3a2a14f8ea845ba15a0

[2019-09-04 20:56] andersy005 commented on #4
@jhamman,

I didn't experience any issue with dask kubernetes on `esip.pangeo.io`. I am not sure what was wrong on `http://icesat2.pangeo.io`

[2019-09-09 07:51] jeffdlb commented on #4
Hi Anderson-

Thanks for working on this. I was just putting together a slide for my talk
Thursday showing the original figures and your JNB reproductions. Fig 2
matches nicely, but Figure 4 seems different when each globe is inspected
in detail. Not sure if that is a data issue or color palette choice or what.

-Jeff

PS. CCing NCAR S@S list because I think your original message only went out
to

[2019-09-13 11:51] jeffdlb commented on #4
Hi all,

Joe and I were wondering whether someone knows if, included in the main
LENS archive, there was a 2d field of grid cell areas for the atmosphere,
and land components? As far as I can remember, I've only seen these grid
cell area fields for the T grid, and U grid used in cice and ocean
components.

On Thu, Sep 12, 2019 at 2:45 AM Jeff de La Beaujardiere <jeffdlb@ucar.edu>
wrote:

--

*Ande

[2019-09-17 20:30] jhamman opened #7 "Add binder configuration"
- add conda environment file
- link to https://aws-uswest2-binder.pangeo.io/v2/gh/NCAR/cesm-lens-aws/master in readme
- test

[2019-09-23 22:04] bonnland opened #10 "Fix Figure 4 Colormap"
To match the Kay et al. paper more closely, there needs to be 18 separate color values, instead of 16.

Suggestion:  Try using a LinearlySegmentedColormap object from Matplotlib.

[2019-09-24 18:59] andersy005 commented on #7
Addressed in #8, and #9

[2019-09-24 18:59] #7 closed

[2019-10-15 21:46] andersy005 opened #16 "Transition to using intake-esm catalogs"
With the introduction of ESM collection spec: https://github.com/NCAR/esm-collection-spec in conjunction with the rewrite of intake-esm in https://github.com/NCAR/intake-esm/pull/135, it is now easier to transition to using intake-esm instead of intake.  This will make searching, and discovering, data loading of the existing zarr stores in the s3 bucket easier than it is with pure intake.

[2019-10-17 20:24] #10 closed

[2019-10-17 20:24] bonnland commented on #10
ColorMap was fixed by calling MatplotLib directly, which gives more control over contour plots.

[2019-10-18 21:20] #4 closed

[2019-10-31 16:50] jeffdlb commented on #16
Any update on transition to intake-esm? Intake catalog is essentially unusable without insider knowledge because variable names do not correspond to Zarr store names. :(

Also, please let's do the Intake-ESM work in the v.3 Notebook (which has other changes) instead of the original Notebook.

If there is any way that Brian or I can help we would be glad to do so.

-Jeff DLB

[2019-11-19 00:16] #16 closed

[2019-12-08 20:47] jhamman opened #28 "Interesting (poor) dask behavior in"
I'm noticing some odd behavior in the example notebook with regard to dask and some transpose logic. I'm not 100% sure this was here before the move to intake-esm so I'm wondering if we're combining datasets in a sub-optimal way. The offending cell is below. I'm about to give a tutorial so I can't dig deeper right now but I'm putting this up so we can come back to it.

[code]

![image](https://use

[2019-12-08 21:31] jeffdlb opened #29 "Figure 2 reproduction not quite right"
There are a couple of key difference between the original Kay et al. figure 2 and the notebook's reproduction. See attached images. In Notebook version,
* The black "member 1" line does not cover 1850-1920, and does not have a legend.
* The red "observations" line covers 1850-2005 instead of 1920-2005.
* We also don't have the pre-1850 control period, but that's less critical than what appears to

[2019-12-09 00:37] jeffdlb opened #30 "Intake-esm with long names"
I just uploaded 2 files that include CESM long names in the intake-esm catalog:
https://ncar-cesm-lens.s3.us-west-2.amazonaws.com/catalogs/aws-cesm1-le-longNames.json
https://ncar-cesm-lens.s3.us-west-2.amazonaws.com/catalogs/aws-cesm1-le-longNames.csv

I have not had a chance to test in a Notebook yet, but wanted to let people know in case someone wanted to try it.

-Jeff DLB

[2019-12-10 18:16] andersy005 commented on #30
For better user experience, can we remove the spaces in the long_name column?

i.e . `Net longwave flux at surface` ---> `Net_longwave_flux_at_surface`

[2019-12-10 18:18] andersy005 commented on #30
Removing spaces would allow avoiding typos and other subtle errors when the user wants to use the `long_name` column in the `search()` method.

[2019-12-10 18:53] jeffdlb commented on #30
Yes, but would rather in that case use the actual CF Standard Names (with
underscores). Need to determine the correct mapping...

-Jeff

On Tue, Dec 10, 2019 at 10:16 AM Anderson Banihirwe <
notifications@github.com> wrote:

[2019-12-10 20:59] andersy005 commented on #28
In this particular case, we are not merging/concatenating the zarr stores. Each zarr store ends up in its own xarray dataset:

![Screen Shot 2019-12-10 at 1 49 09 PM](https://user-images.githubusercontent.com/13301940/70567894-0434e680-1b54-11ea-85d2-ec7b506e86f0.png)

After further investigations, I can confirm that intake-esm **is not** the culprit here. I am able to reproduce this behavior with

[2019-12-10 22:00] jeffdlb commented on #28
I believe each chunk (at least for TREFHT) contains the entire 288x192 lat/lon range, so does this line mean each chunk ends up getting read (288/20)*(192/20)=150 times, or even 20x20=400 times?

winter_trends = linear_trend(
    winter_seasons.chunk({"lat": 20, "lon": 20, "time": -1})
).load() * len(winter_seasons.time)

[2019-12-11 18:42] bonnland commented on #29
@jeffdlb  Should our reproduction of this Figure be limited to members 1-30, as in the original, or is there some value to plotting all 40 members?

[2019-12-11 18:45] jeffdlb commented on #29
I think if we're claiming it reproduces we should have it match as closely as possible for this particular notebook. A separate analysis with all 40 members might have some scientific value, however.

[2019-12-11 19:40] jeffdlb commented on #29
That being said, we already show all members and it doesn't change the
figure much, do keeping as-is is fine. Bigger issue is the red and black
lines.

On Wed, Dec 11, 2019, 10:45 Jeff de La Beaujardière <
notifications@github.com wrote:

[2019-12-11 19:54] bonnland commented on #29
I will try to get to it later today.

[2019-12-11 20:37] jeffdlb commented on #29
If it looks like a non-obvious, multi-hour fix we should discuss first.

[2019-12-12 00:15] bonnland commented on #29
I didn't get it completely done, but it looks do-able without too much effort.   It's necessary to load the "HIST" experiment, creating three Xarray datasets instead of two.   The "HIST" experiment appears to have a single ensemble member with monthly data frequency, which means repeating the patterns we see for creating t_20c_ts, t_ref_ts, etc. with some tweaks.

[2019-12-13 00:28] bonnland commented on #29
Here is a binder link that has my current changes.   Note that these are still a work in progress, and could contain missing code or typos:

https://aws-uswest2-binder.pangeo.io/v2/gh/bonnland/cesm-lens-aws/fix-figure2?urlpath=lab

I had to create by painstakingly copy-pasting from a notebook running on AWS, which is error-prone.

I will test and fix any bugs tommorrow.

[2019-12-13 18:03] bonnland opened #31 "Binder complaining about pip"
On the BinderHub build, there is a warning about pip being used to install, but it is not part of the conda environment definition.

Is there any issue with adding an unpinned version of pip to the environment definition file?

[code]

[2019-12-13 18:37] bonnland commented on #29
I'm unable to run/debug the notebook on AWS right now.   Possibly the load on the Pangeo AWS service is very high, with AGU underway.

[2019-12-13 22:12] bonnland commented on #29
@jeffdlb Joe Hamman just added me to the pangeo-data group on GitHub, which gives me access to a persistent AWS environment for modifying the LENS notebooks.   Joe thinks you're also a member.   Here are the steps I took:

1. Go to https://aws-uswest2.pangeo.io/ and login with your GitHub credentials.
2. Launch an instance labeled "Latest Pangeo-notebook Image (4 vCPU, 16 Gb)"
3. Open a command-li

[2019-12-13 23:08] #29 closed

[2019-12-23 22:00] bonnland commented on #31
I added pip (no version specified) as a dependency in #33, and it built and ran without problems.
Closing this issue.

[2019-12-23 22:00] #31 closed

[2020-02-03 18:18] rabernat opened #34 "Where are all the ocean variables?"
I started to look at the LENS AWS data. I discovered there is very little available

[code]

[code]

There are only 3 variables: SALT (3D), SSH (2D), and SST (2D).

At minimum, I would also like to have THETA (3D), UVEL (3D), VVEL (3D), and WVEL (3D), and all the surface fluxes of heat and freshwater. Beyond that, it would be ideal to also have the necessary variables to reconstruct the tracer and

[2020-02-03 18:46] jeffdlb commented on #34
Ryan-

You are correct there is not much ocean data there. The plan was to add additional data on request, so thanks for your request. We do have room in our AWS allocation to add more, and I would be glad for us to do so. I will discuss this with some team members at our meeting on Thursday. Besides the THETA, UVEL, VVEL, WVEL fields you mentioned, can you indicate which specific other variables

[2020-02-03 18:47] rabernat commented on #34
Thanks @jeffdlb! I will review the list of fields and get back to you. Our general interest is ocean heat and salt budgets.

[2020-02-03 18:48] jeffdlb commented on #34
PS. We currently only have monthly ocean data, whereas the other realms also have some daily or 6-hour data. Is monthly sufficient for your use case?

[2020-02-03 18:50] rabernat commented on #34
For coarse-resolution (non eddy-resolving) models, the oceans tend not to have too much sub-monthly variability. If we did need daily data, it would just be surface fluxes. Monthly should be fine for the other stuff.

[2020-02-12 20:46] rabernat commented on #34
Ok, here is my best guess at identifying the variables we would need for the heat and salt budgets. Would be good for someone with more POP experience (e.g. @matt-long) to verify.

[code]

[2020-02-12 22:56] jeffdlb commented on #34
Ryan-

Many of these variables do not seem present in the monthly ocean data on
GLADE:

1310> pwd
/glade/collections/cdg/data/cesmLE/CESM-CAM5-BGC-LE/ocn/proc/tseries
1311> while read ln; do ls -d "monthly/$ln"; done < ~/oceanVars.txt
ls: cannot access monthly/THETA: No such file or directory
monthly/UVEL
ls: cannot access monthly/UVEL2: No such file or directory
monthly/VVEL
ls: cannot access mon

[2020-02-12 23:47] matt-long commented on #34
TEMP is the POP variable name for potential temperature (not THETA).

Many of the data not available on glade are available on HPSS
[HSI]: /CCSM/csm/CESM-CAM5-BGC-LE/ocn/proc/tseries/monthly

And (possibly) on NCAR Campaign storage here
/glade/campaign/cesm/collections/cesmLE
(accessible on Casper)

Note that to close a tracer budget you need
**Advection**
UE{S,T}
VN{S,T}
WT{S,T}

**Lateral diffus

[2020-02-27 17:06] bonnland commented on #34
According to Gary Strand, all of the LENS data is available on Glade here:

/glade/collections/cdg/data/cesmLE/CESM-CAM5-BGC-LE

When I look at what is available for the ocean, I find this:

[code]

If someone can help decipher these variables and determine if they are worth publishing, I would be happy to work on getting them onto AWS.

[2020-02-28 20:50] bonnland commented on #34
@jeffdlb @rabernat    On second glance, it appears that my directory listing above shows that some variables are missing.   I'm waiting to hear from Gary to get some clarification.

[2020-02-28 20:57] rabernat commented on #34
@bonnland -- were you the one who produced the original S3 LENS datasets? If so, it would be nice to build on that effort. My impression from @jeffdlb is that they have a pipeline set up, they just need to find the data! Maybe you were part of that...sorry for my ignorance.

As for the missing variables, I guess I would just request that you take the intersection between my requested list and what

[2020-02-28 21:14] bonnland commented on #34
@rabernat   I just got word from Gary; I was originally in a slightly different folder.   I have the  correct folder path now, and all 273 monthly ocean variables appear to be present.

I was part of the original data publishing, so I know parts of the workflow.   The most time consuming part is creating the CSV file describing an intake-esm catalog, which I did not originally take part in.   The

[2020-03-06 13:42] jeffdlb commented on #34
Brian-

On Thu, Mar 5, 2020 at 5:06 PM bonnland <notifications@github.com> wrote:

We are currently using 61.5 TB for 905023 objects in ncar-cesm-lens bucket,
the vast majority of which is for atmosphere data. Ocean data only use 1.2
TB at present.

I don't think there is an automatically-enforced limit to the allocation,
so nothing will prevent writing objects after 100 TB. However, we should as

[2020-03-06 16:59] andersy005 commented on #34
If subset, can you estimate the total (uncompressed) for all the new vars?

The 20.95 TB is for **only 5 variables**.

Of the 39 variables listed in https://github.com/NCAR/cesm-lens-aws/issues/34#issuecomment-585409543, we found 38 variables. A back of the envelope calculation shows that their total uncompressed size would be ~ 170TB.

[2020-03-06 17:00] rabernat commented on #34
Do we have any idea what typical zarr + zlib compression rates are for these datasets? I would not be surprised to see a factor for 2 or more.

[2020-03-06 17:37] jeffdlb commented on #34
@rabernat The one data point I have so far is for atm/monthly/cesmLE-RCP85-TREFHT.zarr:
5.5 GB storage
10.1 GB uncompressed

[2020-03-06 17:39] jeffdlb commented on #34
I will ask Joe & Ana whether we can have up to ~150 TB more. If not, we may need to prioritize.

@rabernat Do you know of any other expected users of these ocean variables? We might need to have some good justification for this >2x allocation increase.

[2020-03-06 17:48] rabernat commented on #34
TEMP, UVEL, VVEL, WVEL, SHF, and SFWF would be the bare minimum I think.

Will try to get a sense of other potential users.

[2020-03-06 18:45] dbonan commented on #34
I've been using some of the ocean output from the CESM-LE. I've mainly been looking at overturning, heat transport, and surface forcing (i.e., MOC, SHF, UVEL, VVEL, TEMP, SST, SALT). I know there would be a lot of interest in biogeochemical variables, too. I agree it would be nice to have this on AWS data storage!

[2020-03-06 19:54] cspencerjones commented on #34
I would definitely use it if available!  SHF, SFWF, UVEL, VVEL, VNS, VNT, TEMP and SALT at least would be helpful. But also TAUX, TAUY, UES, UET would be good too.

[2020-03-06 23:38] jbusecke commented on #34
I would definitely be keen to look at some biogeochemical variables, like DIC, DOC and O2. The full O2 budget would be dope but I presume that is a lot of data (not exactly sure which terms are needed but it seems they are usually the ones with ‘_O2’ appended (e.g. VN_O2, UE_O2 etc). Thanks for pinging me.

[2020-03-06 23:50] bonnland commented on #34
@rabernat I'm in the process of creating the Zarr files for TEMP, UVEL, VVEL, WVEL, SHF, and SFWF, just as an initial test.   I've discovered in the process, that the coordinate dimension describing vertical levels has different names depending on the variable.   For example:

     UVEL                  (member_id, time, z_t, nlat, nlon) float32 dask.array<chunksize=(1, 12, 30, 384, 320), meta=np.

[2020-03-07 01:10] mnlevy1981 commented on #34
@bonnland the different vertical coordinates signify different locations in the level: `z_t` is the center, while `z_w_top` is the top of the level and `z_w_bot` is the bottom of the level. Most variables will be at cell centers, i.e. `z_t`, though some of those are only saved in the top 150m (`z_t_150m`). Note that this last dimension is only 15 levels, rather than the 60 levels comprising the ot

[2020-03-07 16:38] rabernat commented on #34
👍. When producing analysis-ready data, we should always think very carefully before changing any of the metadata.

Going a bit off topic, but I find POP to be pretty inconsistent about its dimension naming conventions. In the vertical, it uses different dimension names for the different grid positions. But in the horizontal, it is perfectly happy to use `nlon` and `nlat` as the dimensions for all

[2020-03-08 05:29] mnlevy1981 commented on #34
I don't know for sure, but I suspect that POP (or an ancestor of POP) originally had `z_w = z_t + 1` and then someone realized that all the variables output on the interface could be sorted into either the "0 at the surface" bucket or the "0 at the ocean floor" bucket so there was a chance to save some memory in output files by splitting the `z_w` coordinate into `z_w_top` and `z_w_bot` (and at th

[2020-03-13 20:10] bonnland commented on #34
@rabernat  I'm finishing up code for processing and publishing the ocean variables.  I'd like to see what difference zlib compression makes.   Are there any special parameters needed, or just use all defaults for the compression?   Do you have an example of specifying this compression choice?

[2020-03-13 20:57] andersy005 commented on #34
We may want to stick with the default compressor because it appears to be providing a pretty good compression ratio:

[code]

[code]

[2020-03-19 17:51] bonnland commented on #34
@rabernat I should be transferring the following to AWS sometime today and tomorrow:  TEMP, UVEL, VVEL, WVEL, VNS, VNT, SHF, SFWF.   All will cover the CTRL, RCP85, and 20C experiments.    @andersy005  should be updating the AWS intake catalog when the transfer is complete.

[2020-03-20 00:50] bonnland commented on #34
Actually, it looks like we inadvertently wrote out the Zarr files with incorrect metadata.   It is going to take a few more days to re-write and then transfer to AWS.

[2020-03-20 12:50] rabernat commented on #34
@bonnland no worries, obviously everything is going slow these days.

Could you explain a bit about how this incorrect metadata arose? Just for the the sake of there watching this thread, it would be good to understand the potential pitfalls in producing zarr datasets.

Sent from my iPhone

[2020-03-20 13:10] jeffdlb commented on #34
Thanks for working on this, @bonnland and @andersy005 .

Regarding the metadata: Given that it is all in separate text/json files, can those files be replaced with correct versions without regenerating all the binary objects? I ask because (a) although it might seem simpler just to regenerate if the data are still on GLADE, it would be good to have a repair-in-place ability once the data were uplo

[2020-03-20 14:08] rabernat commented on #34
Exactly why I was asking. This is precisely one of the main advantages of zarr. You can fix metadata by editing a simple text file.

This can be controlled by the data producer. Here is an example of a zarr record with lots of metadata preserved from the original NetCDF files: https://catalog.pangeo.io/browse/master/ocean/sea_surface_height/

[2020-03-20 15:01] jeffdlb commented on #34
@rabernat wrote:

Now *that* is exemplary! We should be doing the same with our NCAR data.

[2020-03-20 15:54] jeffdlb commented on #34
@bonnland Do you have updated estimate of compressed size of new data? I asked our AWS friends about going above our limit but have not heard back, and want to ping them again with more accurate info if available.

[2020-03-20 16:03] bonnland commented on #34
@rabernat @jeffdlb  I will try to relay what Anderson has told me; @andersy005  may be needed to verify I am right.   The CESM output files were not very careful about which variables were placed in the coordinates section.   The concatenation behavior for xarray has been changing over time, so some expert care is needed in examining these coordinate sections to make sure that xarray datasets can

[2020-03-20 16:10] bonnland commented on #34
@jeffdlb At first glance, there are discrepancies in the compression rate between the Zarr files that I produced and those that Anderson produced.   I am seeing a compression savings of around 50-70% (600 GB on disk for a 1.2 TB Zarr store), and @andersy005 is seeing 600GB on disk for a 2.1 TB Zarr store.    We should have a better understanding and answer in the next day or so.

[2020-03-22 21:00] bonnland commented on #34
@jeffdlb Each 2D variable (SST, etc) is taking about 35 +/- 5GB of disk space for the three experiments (CTRL, 20C, RCP85).    Each 3D variable (TEMP, UVEL, etc) is taking about 1800 +/- 100 GB of disk space for the same three experiments.

[2020-03-23 14:22] jeffdlb commented on #34
Thanks for that estimate. I don't know exactly what list of variables we settled on, however -- how many 2D and 3D?

[2020-03-23 21:53] bonnland commented on #34
@jeffdlb  We decided on adding six 3D variables (TEMP, UVEL, VVEL, WVEL, VNS, VNT) and two 2D variables (SHF, SFWF).   The total disk space needed for these new variables was around 10TB total.

@rabernat The Zarr files have been created and were transferred to AWS over the weekend.   When @andersy005 merges #37, you will have the updated catalog.    Could you let us know whether you are successfu

[2020-03-24 20:59] rabernat opened #40 "Binder is broken?"
Following the binder link on the Readme:
https://aws-uswest2-binder.pangeo.io/v2/gh/NCAR/cesm-lens-aws/master?urlpath=lab
I cannot get the build to start, let alone complete. Is there some problem with the aws binder?

[2020-03-24 21:10] andersy005 commented on #40
Cc @scottyhq in case he has suggestions on how to address this issue.

[2020-03-24 21:18] scottyhq commented on #40
binder is working as far as I know, so maybe there is an issue with the new build? I see this message on the logs
[code]

Note that built images are here:
https://hub.docker.com/repository/docker/pangeoaccess/binder-stagingncar-2dcesm-2dlens-2daws-82a8c0

There likely will be some down-time related to updating this repo with both the GCE and AWS binder config
https://github.com/pangeo-data/pangeo-

[2020-04-09 17:26] bonnland commented on #34
@rabernat  If you are aware of any need or desire for more variables right now, just reply here.   I've tried loading and using the variables recently added on AWS, and it appears to work for me.

[2020-04-09 17:57] jeffdlb commented on #34
@bonnland @andersy005 Thank you for creating and copying Zarr and updating the intake-esm catalog. My documentation page needs to catch up now.

Regarding more data: I thought @rabertnat and others had a considerably longer list than just the six 3D variables (TEMP, UVEL, VVEL, WVEL, VNS, VNT) and two 2D variables (SHF, SFWF) mentioned above. AWS has said we can go up to 200TB if necessary.

[2020-04-09 18:37] bonnland commented on #34
@jeffdlb  OK, it sounds like we have no space shortages after all.  I thought maybe we were pushing up against a 100TB limit for all data, but 200TB gives us plenty to work with.   I can go about publishing the remaining variables that have been mentioned, and these should fit within the ~120 TB of available space on AWS.

While it feels slightly risky to do this work before verifying that computa

[2020-04-09 18:42] jeffdlb opened #42 "Rant: bad approach to vertical coordinates"
In another thread, it was pointed out that the different vertical coordinates signify different locations in the level: `z_t` is the center, while `z_w_top` is the top of the level and `z_w_bot` is the bottom of the level. The response to the question "Should we somehow unify the dimension names for vertical levels, to simplify future user interaction with the data, or is it important to keep them

[2020-04-09 20:50] mnlevy1981 commented on #42
The problem is that there are variables (like temperature) that are computed the center of the cell, while other variables (such as the vertical velocity) that are computed at the top of the cell and still others (such as some associated with vertical mixing) that are computed at the bottom of the cell. So the vertical placement of `k`th level of TEMP, WVEL, and KVMIX are all at different depths f

[2020-04-09 21:06] jeffdlb commented on #42
@mnlevy1981 Thank you for replying. Yes, I understand that different variables are computed at grid cell centers vs edges, and I do not suggest we interpolate variables or double storage.

What I am suggesting is that in the output files (or rather, in our subsequent Zarr stores), we make those differences explicit in a different way. Rather than different axes z_t, z_w_top, and z_w_bot, there sho

[2020-04-09 21:15] mnlevy1981 commented on #42
Oh, gotcha -- sorry for the misunderstanding. So basically, you like the horizontal approach of a single `nlat` and `nlon`, and then using the coordinate attribute to note whether it's T-grid or U-grid:

[code]

and are wondering why we can't do the same in z

[code]

That's a reasonable approach, though given the fact that most of the CESM ocean software engineering is focused on the transition f

[2020-04-09 21:27] jeffdlb commented on #42
Yes, except that (a) the units attribute would use a controlled vocabulary such as UDUNITS and (b) the coordinates attribute(s) would be URL(s) of machine-readable definitions for each coordinate instead of a human-readable string that lists multiple coordinates and requires prior knowledge or that users RTFM.

[2020-04-09 23:44] rabernat commented on #34
Hi everyone! Thanks for pushing this forward!

Like many others, I have fallen behind on my projects during the current situation. I am still enthusiastic about working with this data, but it has been hard to find time recently. My apologies.

[2020-04-10 00:05] jeffdlb commented on #34
So should we hold off on copying additional data to AWS?

[2020-04-10 01:18] rabernat commented on #34
I don't think I can make that decision for you. Simply stating that, due to the coronvirus pandemic and associated impacts on my time (enormous new child care responsibilities, remote teaching, etc.), I personally won't be able to do much on this until May (post spring semester).

[2020-04-10 21:10] cspencerjones commented on #34
Thanks very much for doing this! I will try to make a start with what's there sometime next week. If it is easy to upload TAUX, TAUY, those would also be helpful to have (though I can start without them if you'd prefer to wait until I've tried it).

[2020-04-10 23:18] bonnland commented on #34
@cspencerjones   Thanks for offering to check things.  It takes a good chunk of CPU hours to produce these files, so I'd feel better knowing there isn't some glitch in what we have so far that makes these data difficult to use.

I will create and upload TAUX and TAUY, hopefully by Tuesday, and I'll respond here when they are ready.   It would be great to see if you can use them successfully before

[2020-04-11 13:32] rabernat commented on #42
The CF conventions define the `axis` attribute explicitly to address this: http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#coordinate-types

See, for example, their [2D lat lon coordinates example](http://cfconventions.org/Data/cf-conventions/cf-conventions-1.8/cf-conventions.html#_two_dimensional_latitude_longitude_coordinate_variables):
[code]

This is the rig

[2020-04-11 13:49] rabernat commented on #34
I did find some time to simply open up some data. Overall it looks good! Thanks for making this happen. Based on this quick look, I do have some feedback.

Let's consider, for example, `WVEL`, the vertical velocity:
[code]

Which gives the following long output:

<details>

[code]
</details>

Based on this, I have two suggestions.

1. All variables but `WVEL` should be [coordinates](http://xarray.

[2020-04-12 00:54] bonnland commented on #34
@rabernat  That is helpful feedback, thank you.   I will move forward with the chunking you suggest if I don't hear any objections in the next day or so.

This issue of which variables should be coordinates has come up before in discussions with @andersy005 .   Across variables, and possibly across ensemble members, in the original NetCDF files, these extra variables differ (examples:  ULAT, ULONG

[2020-04-12 01:13] rabernat commented on #34
I can see how this could cause problems. However, I personally prefer to have all that stuff as coordinates. It's easy enough to just `.reset_coords(drop=True)` before any merge / alignment operations.

An even better option is to just drop all of the non-dimension coordinates *before* writing the zarr data, and then saving them to a standalone `grid` dataset, which can be brought in as needed for

[2020-04-12 01:21] bonnland commented on #34
OK, that sounds like good advice.  I'm assuming that removal of these variables is also something that can be done retroactively.   Be sure to let me know if this not the case, or I will go ahead with the same procedure we've been using for now (since we have to go back anyway to fix the metadata for our other Zarr stores).

[2020-04-12 01:28] rabernat commented on #34
Should be as simple as deleting the directories for those variables and re-consolidating metadata.

[2020-04-12 03:13] andersy005 commented on #34
It turns out that these variables consume ~20 MB per zarr store.

👍. Would this `grid` dataset include static variables only? It appears that the [LLC4320_grid](https://catalog.pangeo.io/browse/master/ocean/LLC4320/LLC4320_grid/) includes `time` as well. By `static variables` I am referring to scalars and time-independent variables:

[code]

Removing these grid variables provides a **clean** xarra

[2020-04-12 22:38] jeffdlb commented on #34
@rabernat wrote:

FYI, for the 3D atmospheric data (at least monthly Q) there each chunk contains all ensemble members, 12 months of data, and 2 levels:

<xarray.DataArray 'Q' (member_id: 40, time: 1032, lev: 30, lat: 192, lon: 288)>
dask.array<zarr, shape=(40, 1032, 30, 192, 288), dtype=float32, chunksize=(40, 12, 2, 192, 288), chunktype=numpy.ndarray>

If we were to put all 30 levels in one chun

[2020-04-13 14:48] cspencerjones commented on #34
I also just opened the data and had a look. I agree with Ryan that rechunking so that each chunk contains all vertical levels would be very helpful: oceanographers like to plot sections! I don't object to chunking more in time in order to achieve this. I also think that it's sensible to continue chunking by memberID, because I will want to write and test my code for one member and then operate on

[2020-04-13 14:58] andersy005 commented on #34
As an update I have re-chunked the data accordingly for all ocean variables:

[code]

As you can see, I removed the `grid` variables. I could use some feedback on my comment above in https://github.com/NCAR/cesm-lens-aws/issues/34#issuecomment-612556759 regarding what needs to go into a standalone `grid` dataset. The re-chunked data are residing on GLADE for now, and am ready to transfer them to S

[2020-04-13 15:15] jeffdlb commented on #34
Does @jhamman have a strategy for re-chunking in place directly on AWS S3? I suspect this would require reading data from the old objects, creating the new objects in a separate bucket as scratch space, deleting the old objects, copying the new objects to the main bucket, deleting the new objects from the scratch bucket. I can create a scratch bucket under our AWS account if desired.

[2020-04-13 15:17] rabernat commented on #34
This is a minor nit, but I personally perfer `time_bound` to also be in coords, not data_vars. Then you will just have one data variable per dataset, which has a nice, clean feel.

[2020-04-13 15:18] rabernat commented on #34
Also, there appear to be quite a few coordinates that are not used by the data variables. These could probably be removed as well.

[2020-04-13 17:38] bonnland commented on #34
I have created the Zarr files for TAUX and TAUY, but I chose to place all members in a single chunk because the chunks are so much smaller.     But because I didn't perform the same metadata operations as @andersy005, and because they are fast to recreate, I will let Anderson make these also.

[2020-04-23 12:10] andersy005 commented on #34
As an update, I updated the chunking scheme for all existing ocean variables on AWS-S3, removed the grid variables from the zarr stores, and created a standalone grid zarr store:

[code]

[code]

[code]

[2020-04-28 13:38] jeffdlb commented on #34
@andersy005 Did you have to create the new Zarr on GLADE and then delete/upload/replace the Zarr stores on S3, or was it possible to re-chunk in place on AWS?

[2020-04-28 16:14] jeffdlb commented on #34
I am updating the dataset landing page to include the new variables.

QUESTION: We added VNS & VNT (salt and heat fluxes in y-direction). Shouldn't we also include UES & UET (salt and heat fluxes in x-direction), and maybe WTS & WTT (fluxes across top face)? I don't see how only one component of the flux vectors can be useful.

[2020-04-28 16:20] bonnland commented on #34
Hi Jeff, those variables are actually in transit now.   I was going to announce their availability for performance testing after the transfer was completed.  Once they have been transferred, I will update the catalog for AWS users.     The variables in transit are:

**3D variables**:  DIC, DOC, UES, UET, WTS, WTT, PD

**2D variables**:  TAUX, TAUY, TAUX2, TAUY2, QFLUX, FW, HMXL, QSW_HTP, QSW_HBL,

[2020-04-28 16:23] jeffdlb commented on #34
@bonnland Excellent! Thank you very much. I will update the landing page to include those (but not publish until you are ready).

[2020-04-28 19:40] jeffdlb commented on #34
FYI the draft unpublished landing page with recent updates is temporarily at
[CESM_LENS_on_AWS.20200428.htm](http://ncar-aws-www.s3-website-us-west-2.amazonaws.com/CESM_LENS_on_AWS.20200428.htm)

[2020-04-29 17:58] bonnland opened #46 "catalog-builder broken after addition of grid.zarr variables in AWS"
The catalog builder is crashing when it tries to parse the recently added grid variables on AWS.  The folder structure is not expected:

[code]

[2020-04-29 18:04] bonnland commented on #46
@andersy005   Does the grid.zarr folder need to go in ocn/monthly?   Or is it intended to cover a broader group of datasets than this?

[2020-04-29 19:51] andersy005 commented on #46
Since the grid variables don't depend on time, it makes sense to just put the `grid.zarr` store under `ncar-cesm-lens/ocn/static`

[2020-04-29 20:59] bonnland commented on #46
closed by #47

[2020-04-29 20:59] #46 closed

[2020-04-29 22:17] jeffdlb opened #48 "Substring matches?"
Hi @andersy005:

I hope all is well with you in these strange times.

I believe with intake-esm one can search the collection only for entire column values, not substrings. E.g., I can find TAUX, TAUX2, or TAUY, but not "TAU*".
- Can substring matching be added?
- Is the absence of substring matching something that would need to be added by intake-esm, or by intake itself?

[2020-04-29 22:32] bonnland commented on #34
@cspencerjones @rabernat @jbusecke    Transfer of new ocean data is complete and available on Amazon AWS.   It would be very helpful if someone could try a nontrivial computation with the data to make sure performance based on our chunking scheme is adequate.

I've confirmed that the Binder notebook on Amazon works (see the README.md for the link), and the variables are visible in the catalog.   H

[2020-04-30 15:47] cspencerjones commented on #34
I tried a few thing with the data this morning, including calculating density from temperature and salinity and plotting sections, transforming some variables to density coordinates and plotting time means etc. I tried using multiple workers as well. This worked ok and I think that the performance is adequate.

[2020-04-30 16:56] bonnland commented on #34
That's great to hear; we can tentatively move forward with the remaining variables requested so far.  They are all 3D variables:

UVEL2, VVEL2
HDIFB_SALT, HDIFB_TEMP,
HDIFE_SALT, HDIFE_TEMP
HDIFN_SALT, HDIFN_TEMP
KAPPA_ISOP, KAPPA_THIC
KPP_SRC_SALT, KPP_SRC_TEMP
VNT_ISOP, VNT_SUBM

[2020-04-30 21:06] samclub opened #49 "Variables (such as SST, SSH, and others) are all missing values for 20C experiment member 33 at 1938-May-01"
As stated in the title, I found that all variables (such as SST, SSH, and others) on AWS via intake are all missing values for 20C experiment member 33 at 1938-May-01. However, I checked the original dataset on [ESG](https://www.earthsystemgrid.org/dataset/ucar.cgd.ccsm4.CESM_CAM5_BGC_LE.ocn.proc.monthly_ave.html) is good.

Does anyone find a similar problem?

[2020-05-01 12:50] jeffdlb commented on #49
Hello-

I believe this is one of the Known Issues with LENS documented at
http://www.cesm.ucar.edu/projects/community-projects/LENS/known-issues.html,
though they mention April 1938 rather than May 1:

"September 2017: It was discovered that numerous monthly ocean variable
timeseries incorrectly contained zeroes as values for member #33
(b.e11.B20TRC5CNBDRD.f09_g16.033) for April 1938 (only). It w

[2020-05-01 17:11] jeffdlb opened #50 "Content-type on Zarr JSON files in S3"
The LENS Zarr JSON metadata files such as .zarray have ContentType=binary/octet-stream instead of application/json. Can we (a) set ContentType correctly for future uploads and (b) fix this for existing objects on S3?

Example:
[code]

Ryan Abernathy pointed out (in the Zarr development github) that "Content type is determined by the uploader: https://docs.aws.amazon.com/AmazonS3/latest/API/API_Put

[2020-05-01 17:47] samclub commented on #49
Aloha @jeffdlb,

Well received your response. Thank a lot!

Yes, you are right. The issue appears for April 1938 if it is indicated from times in the filename.
There is known one month off in the times in the file as documented at http://www.cesm.ucar.edu/projects/community-projects/LENS/instructions.html.

`For monthly time series files note that the time variable is off by one month. For example

[2020-05-01 17:47] #49 closed

[2020-05-05 13:23] jeffdlb commented on #34
Now that the new data have been uploaded, I believe I can publish this draft as the new landing page.
QUESTION: Does the page need to say anything about the new approach to repeated grid variables, or is that completely transparent to the user?

[2020-05-05 14:05] jeffdlb commented on #48
Unless I am mistaken, it seems that substring matching would be a one-line code change.
In _get_subset() at https://github.com/NCAR/intake-esm/blob/master/intake_esm/core.py, on line 633 replace
`(df[key] == val_i)`
with
`(val_i in df[key])`

I don't consider myself a developer anymore so I hesitate to try implementing this myself..

[2020-05-05 15:52] bonnland commented on #34
There are still small inconsistencies to work out, AFAIK.   Unless I am mistaken, Anderson republished all the ocean data the grid variables removed, but grid variables still coexist in the atmospheric data, and these grid variables are probably distinct from the ocean variables.

The separate grid variables have been pushed to AWS, but they don't quite fit yet into our catalog framework, which is

[2020-05-05 17:12] andersy005 commented on #40
Closing....

[2020-05-05 17:12] #40 closed

[2020-06-26 23:01] andersy005 opened #54 "Change non ocean data to match ocean data"
As part of #34 we factored out common arrays for the ocean data copied to AWS and put these common arrays into a **grid** zarr store. We need to repeat this process for variables from other components

- [x] cice
- [x] atm
- [x] land

Once all data variables have been updated, the Kay et al. notebook needs to be updated as well.

[2020-06-30 10:32] #48 closed

[2020-08-24 15:02] #30 closed

[2020-08-24 22:50] #54 closed

[2020-08-24 22:54] andersy005 commented on #28
Closing this issue for the time being...My current speculation is that it has to do with xarray's `apply_ufunc`, but  I was unable to determine the exact root cause. I may re-open it in the future :)

[2020-08-24 22:54] #28 closed

[2020-08-24 22:57] andersy005 opened #59 "Update `EnhancedIntakeCatalogDemo.ipynb` notebook?"
@jeffdlb, now that intake-esm supports regular expressions and wildcard expressions, I am wondering if you'd interested in updating the [EnhancedIntakeCatalogDemo.ipynb](https://github.com/NCAR/cesm-lens-aws/blob/master/notebooks/EnhancedIntakeCatalogDemo.ipynb) notebook at some point in the future?

[2020-08-24 23:07] jeffdlb commented on #59
Yes, definitely -- not this week, but in September I could do it.

On Mon, Aug 24, 2020 at 4:57 PM Anderson Banihirwe
<notifications@github.com> wrote:

[2020-08-24 23:08] dcherian commented on #28
Could use `da.polyfit` now and see if the same behaviour persists.

[2020-08-25 00:08] andersy005 commented on #28
👍 I had forgotten about `da.polyfit`. I will look into it tomorrow.

[2020-08-25 20:46] andersy005 commented on #54
@jeffdlb, I just noticed that I inadvertently produced and published to S3 more variables than what ywe have listed on the AWS webpage. The extra variables are for the following prefixes:

- atm/hourly6-1990-2005/CESM-LE-*
- atm/hourly6-2026-2035/CESM-LE-*
- atm/hourly6-2071-2080/CESM-LE-*

Let me know if having these extra variables is problematic and I will delete them from AWS S3.

[2020-08-25 21:12] jeffdlb commented on #54
Don't delete! We have not used up our allocation so volume is not a
concern. In fact, I think we may be missing some 6-hourly data...

In the atm/hourly6-year1-year2/CESM-LE-* category we claim (
https://doi.org/10.26024/wt24-5j82) to have 2D variables PRECT, PS, PSL,
QREFHT, TREFHT, and TS, and 3D T, U, V, Q, and Z3. However, in
https://s3.console.aws.amazon.com/s3/buckets/ncar-cesm-lens/atm/hour

[2020-08-25 21:32] andersy005 commented on #54
and FSNS. This seems to also be the case for the other two time periods.

Yeah, I noticed this too... I am currently producing the stores for these variables, and will publish them ASAP.

[2020-09-25 17:54] cspencerjones opened #60 "PD does not agree completely with sigma_0 derived firm SALT and THETA"
I've been trying to compare PD ("Potential Density Ref to Surface") with the potential density referenced to p=0 calculated using https://github.com/xgcm/fastjmd95 from SALT and THETA. These match relatively well, but not perfectly (and not enough for me to feel confident just using them). The size of the difference is correlated with depth, suggesting that maybe I am using a different equation of

[2020-09-25 18:03] dcherian commented on #60
i think pop2 uses MDJWF 2003 though (https://github.com/NCAR/pop-tools/blob/master/pop_tools/eos.py)

[2020-09-25 18:30] cspencerjones commented on #60
Thanks @dcherian , this sounded very promising, but sadly in the end it didn't help! The error has the same size and structure even if I use the pop-tools eos.

[2020-09-25 18:37] dcherian commented on #60
cc @mnlevy1981

[2020-10-01 18:36] cspencerjones opened #61 "Where is the lat/lon data?"
I have been using this tutorial to learn to access the CESM data: [http://gallery.pangeo.io/repos/NCAR/cesm-lens-aws/notebooks/EnhancedIntakeCatalogDemo.html](http://gallery.pangeo.io/repos/NCAR/cesm-lens-aws/notebooks/EnhancedIntakeCatalogDemo.html)

It's been really helpful. But the tutorial doesn't tell me how to access latitude and longitude (just nlat, nlon). Can someone point me to that info

[2020-10-05 18:17] cspencerjones commented on #61
@andersy005 or @bonnland , could you tell me whether there is a timeline on this? Is it worth me trying to use the lat/lon coordinates from the CMIP6 dataset (which are presumably the same), so that I can move forward?

I realize this issue is in some ways a continuation of #34 but that seems stale and maybe should be closed?

[2020-10-05 20:46] andersy005 commented on #61
@cspencerjones,

Thank you for your patience!

As far as I know, `lat`& `lon` values are not output by the model... I've never seen CESM-POP output with `lat` and `lon`. I could be wrong  though... Ccing @mnlevy1981 who knows more about CESM and POP.

Have you had a chance to look at the `region mask` feature in `pop-tools`
https://pop-tools.readthedocs.io/en/latest/examples/region-mask.html?

[2020-10-05 21:17] cspencerjones commented on #61
Amazing! Thanks so much - this is exactly what I wanted to know. It looks as though pop-tools will give me everything I need if I can get it to install on the pangeo workers. I'll look into that.

Do you (or @mnlevy1981 ) know which pop grid is associated with the CESM-LENS output? e.g. POP_gx1v7, POP_gx1v6?

Then I will do a PR to the tutorial I am using so that this info is clear to all users.

[2020-10-05 21:58] cspencerjones commented on #61
I'm realizing that the grid used to be stored at `'s3://ncar-cesm-lens/ocn/grid.zarr'` https://github.com/NCAR/cesm-lens-aws/issues/34#issuecomment-618365544. I think what I was originally asking is, does this dataset still exist? Because it doesn't seem to be at that path anymore. That would be preferable to the `pop-tools` solution.

[2020-10-05 22:05] cspencerjones commented on #61
Sorry to comment more! Apparently what I am looking for is `'s3://ncar-cesm-lens/ocn/static/grid.zarr'`. This solves my issue. I will submit a PR to clarify various docs tomorrow. Thanks for your help.

[2020-10-05 22:05] #61 closed

[2020-11-10 23:20] andersy005 commented on #59
Addressed in #62

[2020-11-10 23:20] #59 closed

[2020-11-23 23:37] senclimate opened #65 "where is the missing variables and experiments data"
As seen from the documentation/lensS3zarrStores.txt, some variables and experiments are available, however, it is absent in the intake-catalogs/aws-cesm1-le.csv.

For instance:
1. the meridional wind V is missing
2. CTRL_SLAB and CTRL_AMIP experiments

If these "missing" data is indeed available in the AWS server, please update the intake-catalogs/aws-cesm1-le.csv.
Thank you in advance!

[2020-12-10 22:31] jeffdlb commented on #65
@samclub Thank you very much for contacting us, and sorry for the delayed reply!

(1) We will add meridional wind V as soon as possible. Somehow it got neglected in the conversion and upload process.

(2) The CTRL_SLAP and CTRL_AMIP experiments were deleted as part of a previous update, but the documentation was not updated. Are you interested in using those data? If so, we can arrange to re-uploa

[2020-12-12 17:27] samclub commented on #65
@jeffdlb Thank you so much for the valuable response.

I am very interested in the CTRL SLAB and AMIP experiments. I have already downloaded the original TS variable from CGD website. Nevermind this experiment request.

Thanks again!

[2021-01-12 18:54] andersy005 opened #67 "Standardize catalog columns"
Standardize catalog columns per recommendations in https://github.com/NCAR/science-at-scale/issues/4

[2021-02-07 18:14] andersy005 commented on #65
Closing this since @samclub was able to access the original netCDF data

[2021-02-07 18:27] #42 closed

[2021-02-07 18:29] #50 closed

[2021-02-09 16:26] zzheng93 opened #72 "[Data Request]: UVBOT, VBOT, QBOT, PRECT, TREFMXAV_U, and TREFMNAV_U fields"
I am using the CESM-LENS-AWS data for my research. However, some of the fields are missing in CESM-LENS-AWS (but they are available in Cheyenne). Could you please upload the following fields to the CESM-LENS-AWS?

"atm", "daily", "rcp85", "from 2006-01-01 to "2100-12-31"
- UBOT
- VBOT
- QBOT
- PRECT

"lnd", "daily", "rcp85", "from 2006-01-01 to 2100-12-31"
- TREFMXAV_U
- TREFMNAV_U

Thank you!

[2021-02-20 23:27] #67 closed

[2021-02-20 23:49] andersy005 commented on #72
@zzheng93, the data you requested are now available on AWS and the catalog has been updated:

[code]

Please reopen if you encounter issues with the data and/or catalog.

Thank you!

[2021-02-20 23:49] #72 closed

[2021-02-22 14:46] jeffdlb commented on #72
Thank you, Anderson!

-Jeff DLB

Jeff de La Beaujardiere, PhD
Director, NCAR/CISL Information Systems Division
https://staff.ucar.edu/users/jeffdlb
https://orcid.org/0000-0002-1001-9210

On Sat, Feb 20, 2021 at 4:50 PM Anderson Banihirwe <notifications@github.com>
wrote:

[2021-02-23 00:20] zzheng93 commented on #72
Thank you very much, Anderson!

[2021-02-24 19:01] andersy005 opened #75 "Side scroll on the website doesn't work"
When viewing https://ncar.github.io/cesm-lens-aws/ in a non fullscreen windows mode, the side scroll doesn't work properly: the left-hand edge is cut off and it is not possible to scroll to it:

<img width="1319" alt="Screen Shot 2021-02-24 at 11 55 34 AM" src="https://user-images.githubusercontent.com/13301940/109050943-3702c600-7697-11eb-9c08-69691a6c06f9.png">

Things seem to work fine in a ful

[2021-06-01 17:23] #75 closed

[2021-06-24 03:21] brianmapes opened #77 "Cannot launch binder, from Gallery (quick URL problem) or from GH (slowly failed to launch)"
Hello Pangeo devs!

From clicking “launch binder” on Gallery pages
https://gallery.pangeo.io/repos/NCAR/cesm-lens-aws/notebooks/kay-et-al-2015.v3.html
or
https://gallery.pangeo.io/repos/NCAR/cesm-lens-aws/notebooks/EnhancedIntakeCatalogDemo.html
I get this error quickly:
This URL does not work: "Could not resolve ref for gh:NCAR/cesm-lens-aws/master. Double check your URL.”

The URL is:
https://aw

[2021-06-24 04:27] brianmapes commented on #77
Oh, maybe this should have gone to https://github.com/pangeo-data/pangeo-binder/issues ?

[2021-07-06 18:43] andersy005 opened #78 "Update catalog"
- Add long-name column to the static variable stores
  - Add a sentence explaining the existence of the static variables (just before the table).
- Add CF Name column (with CF_name_not_available as needed): https://docs.google.com/spreadsheets/d/1FhiZpS_cFZYiIcHqmmtm8CkiGj9f8ATpiSIhJhZwl_c/edit#gid=901858644

[2021-07-06 18:45] andersy005 opened #79 "Fix Rendered HTML Table"
[The table](https://ncar.github.io/cesm-lens-aws/#data-catalog) appears twice on the web page. Need to figure out why the package is doing that.

[2021-09-29 17:44] cjcardinale opened #80 "[Data Request]: V (meridional wind)"
Meridional wind (V; 3D) is absent from [https://ncar-cesm-lens.s3-us-west-2.amazonaws.com/catalogs/aws-cesm1-le.json](url), despite being included in [https://ncar-cesm-lens.s3.us-west-2.amazonaws.com/catalogs/aws-cesm1-le-longNames.json](url).

I am requesting "V" be added to "hourly6-1990-2005" and "hourly6-2071-2080" frequencies. I realize that this request is similar to #65, but that issue is

[2021-09-29 18:23] jeffdlb commented on #80
Chris-

Thank you for your interest in the data. I agree, we need to add the V
fields -- we should not have only U without V! I will see what can be done
in short order.

Regards,
Jeff

J-F de La Beaujardiere, PhD
Director, NCAR/CISL Information Systems Division
https://staff.ucar.edu/users/jeffdlb
https://orcid.org/0000-0002-1001-9210

On Wed, Sep 29, 2021 at 11:44 AM Chris Cardinale ***@***.***>

[2021-09-29 18:26] jeffdlb commented on #65
I am reopening this issue. We cannot publish the U component without the V component, even though the original requester was able to download the data elsewhere. I would term this an urgent request as it is to repair an omission from our published holdings.

[2021-10-04 23:28] mgrover1 commented on #80
I can go ahead and process this - I noticed that within the config file used to generate the stores, the variable for v was `v` and not `V`, which I think is cause of this issue.

[2021-10-15 13:20] jeffdlb commented on #80
Max, thank you so much for processing these data.

-Jeff

J-F de La Beaujardiere, PhD
Director, NCAR/CISL Information Systems Division
https://staff.ucar.edu/users/jeffdlb
https://orcid.org/0000-0002-1001-9210

On Thu, Oct 14, 2021 at 3:08 PM Max Grover ***@***.***> wrote:

[2022-04-02 03:33] smartlixx opened #81 "Intake-ESM Catalog include a column of 'long_name' instead of 'variable_long_name'"
In `using-intake-catalog.ipynb`, the catalog returned only includes a column `long_name` rather than `variable_long_name`, which was referenced in the code many times and will result in runtime error.

If there is a change in the catalog after this notebook was written, I can draft a PR to change all the occurrences of `variable_long_name` to `long_name`.

[2022-04-02 08:50] smartlixx opened #82 "`intake-ESM-catalog.ipynb` needs to specify `storage_options` for `to_dataset_dict`"
In `intake-ESM-catalog.ipynb`, we need to specify `storage_options` for `to_dataset_dict`, in addition to the `zarr__kwargs`. Otherwise, an 'Access denied' error will appear. In the other notebook `kay-et-al-2015.v3.ipynb`, this option is specified and no error appears.